@charset "utf-8";
/*=========================Reset_start==========================*/
*{padding: 0;margin: 0;}
body,h1,h2,h3,h4,h5,h6,div,p,dl,dt,dd,ol,ul,li,form,table,th,td,a,img,span,strong,var,em,input,textarea,select,option,button{margin: 0; padding: 0;}
html,body{font-family:"微软雅黑"; font-size: 30px; text-align: left;color:#666;}
body{width:100%;max-width:750px;width:expression_r(document.body.clientWidth > 750 ? "750px": "auto" );background: #e9efef;}
ul,ol{list-style: none;}
img{border: 0;}
input,select,textarea,button{outline:0;border: 0;background: #fff;color: #fff;}
textarea{resize:none; overflow: auto;}
table{border-collapse: collapse; border-spacing: 0;}
h1,h2,h3,h4,h5,h6,th,strong,var,em,b,i{font-weight: normal; font-style: normal;}
a{text-decoration: none;display: inline-block;font-family: '微软雅黑';}

/*==========================Reset_End===========================*/
/* 头部样式 */
.head{
	width: 100%;
	height: 88px;
	background: #35ccab;
	overflow: hidden;
	text-align: center;
	position: relative;
	font-size: 36px;
	color: #fff;
}
.ver{
	line-height: 88px;
}
.city_sel{
	margin: 19px 0 0 20px;
	float: left;
}
.city_sel a{
	color: #fff;
}
.city_sel a img{
	margin-left: 12px;
}
.head .return{
	position: absolute;
	background: url(../images/return.png) 0 0 no-repeat;
	width: 24px;
	height: 44px;
	background-size: cover;
	display: inline-block;
	top: 22px;
	left: 24px;
}
/* 底部样式 */
.foot{
	font-size: 22px;
	height: 78px;
	background: #fff;
	padding-top: 20px;
	position: fixed;
	bottom: 0;
	left: 0;
	margin-top: 20px;
}
.foot ul{
	width: 72%;
	margin: 0 auto;
	overflow: hidden;
}
.foot ul li{
	float: left;
	width: 8%;
	text-align: center;
	margin-right: 22%
}
.foot ul li:nth-child(4){
	margin-right: 0;
}
.foot ul li span{
	display: block;
	font-size: 18px;
	color: #333;
}
.foot .active{
	color: #02cc9f;
}
/* 蒙版样式 */
.mask{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.5);
	display: none; 
}
.state{
	position: absolute;
	top: 250px;
	left: 50%;
	margin-left: -310px;
	width: 620px;
	background: #fff;
}
.state_tit{
	color: #333;
	text-align: center;
	border-bottom: 1px solid #35ccab;
	line-height: 90px;
}
.state ul{
	width: 100%;
}
.state ul li{
	width: 84%;
	margin: 0 auto;
	border-bottom: 1px solid #eee;
	line-height: 100px;
}
.state .active{
	color: #35ccaa;
	background: url(../images/mark.png) 92% center no-repeat;
}

/* 清除浮动 */
.clear{
	clear: both;
}

/* placeholder样式 */
::-webkit-input-placeholder { /* WebKit browsers */  
    color:    #ccc;  
}  
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */  
   color:    #ccc;  
   opacity:  1;  
}  
::-moz-placeholder { /* Mozilla Firefox 19+ */  
   color:    #ccc;  
   opacity:  1;  
}  
:-ms-input-placeholder { /* Internet Explorer 10+ */  
   color:    #ccc;  
}